.video-section .pattern-overlay {
    background-color: rgba(0, 153, 153, 0.8);
    padding: 180px 0 32px;
    min-height: 496px;
    background: center/cover;
    background-position: 0 0, 0 0, 0 0, 0 0;
    background-image: linear-gradient(160deg, #009999d6, rgb(0, 153, 153) 100%, #009999), url(hack-capital.jpg);
    background-image: -webkit-linear-gradient(160deg, #009999d6, rgb(0, 153, 153) 100%, #009999), url(hack-capital.jpg);
    background-repeat: no-repeat;/* Incase of overlay problems just increase the min-height*/
}



.video-section h1{
font-size: 10vw;
margin: 0 0 14px 0;
font-family: 'Orbitron', Helvetica, Arial, sans-serif;
font-weight:bold;
color:white;
text-align:center;
text-transform: uppercase;

}

@media screen and (max-width: 1200px) {
    .video-section h1 {
        font-size: 11vw; /*2.875rem;*/
    }
}

.video-section h3{
text-align:center;
margin: 0 0 24px 0;
font-size: 1.125em;
font-weight: 500;
font-family: 'Molengo', Helvetica, Arial, sans-serif;
color: white;

}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}